.container.pull-down
  #articles
    = calendar do | date |
      - if @articles_by_date["2014-05-10"]
        %ul
          -@articles_by_date["2014-05-10"].each do |article|
            %li
              =link_to article.name, article
      = date.day
  %br

  = link_to 'New Article', new_article_path

-content_for :css do
  =stylesheet_link_tag 'articles'
