.container.pull-down
  #articles
    = calendar do | date |
      -date=date.to_s
      = get_day date
      - if @articles_by_date[date]
        %ul
          -@articles_by_date[date].each do |article|
            %li
              =link_to article.name, article

-content_for :css do
  =stylesheet_link_tag 'articles'
