.container.pull-down
  %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal"}
    Register
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4#myModalLabel.modal-title need logo of camp horizontal one
        .modal-body
          = form_for @user, url: users_path, method: :create do | form |
            =render partial: 'shared/error_messages', locals { object: @user }
            =form.label "Your first name"
            =form.text_field :first_name, style: "width:50%;"
            %br
              =form.label "Your last name"
              =form.text_field :last_name, style: "width:50%;"
            %br  
              =form.label "Gender"
              -["Male", "Female", "Third gender"].each do | g |
                =form.radio_button :gender, g
                =form.label g.humanize
            %br
              =form.label "College"
              =form.text_field :college, style: "width:50%;"
            
            %br
              =form.label "Department"
              =form.text_field :dept, style: "width:50%;"

            %br
              =form.label "Semester"
              =form.text_field :sem, style: "width:20%;"
            %br
              =form.label "Will you bring your Laptop?"
              -["Yes", "No"].each do | choice |
                =form.radio_button :getting_laptop, choice
                =form.label choice
            %br
              =form.label "City"
              =form.text_field :city, style: "width:50%;"
            %br
              =form.label "State"
              =form.text_field :state, style: "width:50%;"
            %br
              =form.label "Email ID"
              =form.text_field :email, style: "width:50%;"
            %br 
              =form.label "Contact No"
              =form.text_field :phone, style: "width:50%;"
            %br
              =form.label "Attended previous Camp"
              - ["Yes", "No"].each do | choice |
                =form.radio_button :previous_camp, choice
                =form.label choice
             
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 
                Close
              =form.submit  "Hell, yea!"
  .col-sm-6
    %p
      "Vivamus Luctus Urna Sed Urna Ultricies Ac Tempor Dui
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.""




