.ramining-days{
  .counter-container {
    margin: 30px;
    padding: 5px;
    border-style: outset;
    border-width: 2px;
    .count {
      font-style: italic;
      border-color: #ffffff;
      font-size: 100px;
      color: #448c20;
    }
    .days {
      font-style: italic;
      font-size: 21px;
      color: #828282;
    }
    .message {
      font-size: 20px;
      color: #4e5451;
    }
  }
}