.sticky-container {
  /*background-color: #333;*/
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -119px;
  top: 130px;
  width: 200px;
  z-index: 100000;
}

.sticky li {
  list-style-type: none;
  background-color: #333;
  color: yellow;
  height: 43px;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  &:hover {
    margin-left: -115px;
    	    /*-webkit-transform: translateX(-115px);
    -moz-transform: translateX(-115px);
    -o-transform: translateX(-115px);
    -ms-transform: translateX(-115px);
    transform:translateX(-115px);*/
    /*background-color: #8e44ad;*/
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
  }
  img {
    float: left;
    margin: 5px 5px;
    margin-right: 10px;
  }
  p {
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    line-height: 43px;
  }
}