.row
  .col-sm-12
    .row.featurette
      .col-md-7
        %h2.featurette-heading.green
          FSMK Camp
          %span.text-muted Fun. Freedom. Knowledge.
        %p.lead
          FSMK has been actively organizing workshops in various engineering colleges across the state since last 5 years. However, we noticed that a longer duration residential camp completely dedicated to Free Software technologies will be of much greater help to students as they will be able to interact more with the speakers and get lot of time to practice their skills. Hence in 2013, FSMK conducted 2 residential camps for students which saw huge participation. In Jan 2013 we conducted a 5 days residential camp at SVIT, Rajankunte which was attended by around 160 students. Later in July 2013, we conducted a 9 days residential camp at JVIT, Bidadi which was attended by around 180 students. Our camps are organized by volunteers from the students community and also industry professionals. Similarly our resource persons are industry professionals from companies like Cisco, SourceBits, SAP
          Labs, Intel, MobiSir, Arista Networks, Intuit, etc.
      .col-md-5
        %img.featurette-image.img-responsive{alt: "", src: "images/FSMKcamps.png"}/
    %hr.featurette-divider/
    .row.featurette
      .col-md-5
        %img.featurette-image.img-responsive{alt: "FSMK Logo", src: "images/FSMK_Logo.png"}/
      .col-md-7
        %h2.featurette-heading.green
          FSMK
          %span.text-muted Free software, Free society.
        %p.lead
          FSMK is a registered not-for-profit organization whose primary objective is to spread and
          create awareness about free software technologies amongst different sections of the society.
          FSMK is driven by volunteers from various backgrounds like software professionals,
          government officials, academicians and students. The Students Chapter of FSMK works
          actively with college students and encourages them not only to use free software but also
          contribute to the development of various free software. We facilitate formation of college-wise
          units called GNU/Linux User's Group (GLUG) which conduct various technical sessions
          regularly throughout the academic session. More information
          = succeed "." do
            %a{href: "http://www.fsmk.org", title: "Free Software Movement Karnataka"} here
    %hr.featurette-divider/
    .row.featurette
      .col-md-7
        %h2.featurette-heading.green
          Free Software
          %span.text-muted Free as in freedom
        %p.lead
          “Free software” means software that respects users' freedom and community. Roughly, it means that the users have the freedom to run, copy, distribute, study, change and improve the software. Thus, “free software” is a matter of liberty, not price. To understand the concept, you should think of “free” as in “free speech,” not as in “free beer”.
          %br/
          We campaign for these freedoms because everyone deserves them. With these freedoms, the users (both individually and collectively) control the program and what it does for them. When users don't control the program, we call it a “nonfree” or “proprietary” program. The nonfree program controls the users, and the developer controls the program; this makes the program an instrument of unjust power. More info
          = succeed "." do
            %a{href: "https://www.gnu.org/philosophy/free-sw.html", title: "What is Free Software?"} here
      .col-md-5
        %img.featurette-image.img-responsive{alt: "Free Software logo", src: "images/Free_Software.png"}/
    %footer
      %p.pull-right
        %a{href: "/"} Back to top