.row
  .col-md-7
    %h3.green
      = "Tell us about your ideas"
    %p
      = "We'd love to know how we can help you and love hearing from new people.We'll get back to you  as soon as we can."
    %br

    %h3.green
      = "How to find us"
    %p
      Free Software Movement Karnataka
      No. 121/17, 1st Floor, 6th main, 14th Cross,
      %br
        Wilson garden, Bengaluru - 560030.
        Ph: 080-42817353.
      %br
        Email:
        %a{:href => "mailto:contact@fsmk.org"} contact@fsmk.org
    %br

    %h3.green
      = "Get in touch"
    %p
      Vignesh - 9535321976
      %br
        Raghuram - 9591042333
    %br

  .col-md-5.jumbotron
    .row
      .span4
        =form_for @contact, url: contact_us_path do | form |
          =form.label "Your name", class: 'green'
          =form.text_field :name
          %br
          =form.label "Email address", class: 'green'
          =form.text_field :contact_email
          %br
          =form.label "Mobile number", class: 'green'
          =form.text_field :mobile
          %br
          =form.label "Your message", class: 'green'
          =form.text_area :message, rows: 5
          %br
          =form.submit "Send", class: 'btn-primary btn-danger pull-right', style:"width:50px;"