.row
  .col-xs-12
    %h2.green Frequently Asked Questions.
    %p.lead
      Welcome participants!
      %br
      %br
      Please find a list of questions that we are frequently asked. Feel free to
      %a{href: "/contact/new", title: "Contact Us"} contact us
      in case you dont find the answers satisfactory or have a question which was not addressed below.
    %h3.green Regarding Course Content
    #coursegroup.panel-group
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %p.lead
              %a{"data-parent" => "#coursegroup", "data-toggle" => "collapse", href: "#courseOne"} 1. What are Free Software technologies?
        #courseOne.panel-collapse.collapse
          .panel-body
            %p.lead
              Free Software technologies are softwares and framework which ensures that they provide the necessary freedom to the users, mainly freedom to use, study, modify and share. Good examples of these are operating systems like Ubuntu, Fedora	or application softwares like VLC and Mozilla Firefox. On similar lines languages like C, C++, Java, Python, Perl, Ruby and frameworks like Qt, Django, Ruby on Rails follow the popular free software development methodology ensuring that the languages and the necessary compilers, development kits are all under free software licenses. We at FSMK, try to promote these technologies and ensure that information and knowledge of such free software technologies reach to students. More info
              %a{href: "https://www.gnu.org/philosophy/free-sw.html", title: "What is Free Software?"}here.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %p.lead
              %a{"data-parent" => "#coursegroup", "data-toggle" => "collapse", href: "#courseTwo"} 2. Will attending such camp and learning free software technologies help me in placements?
        #courseTwo.panel-collapse.collapse
          .panel-body
            %p.lead
              As per a
              %a{href: "http://www.thehindubusinessline.com/industry-and-economy/info-tech/90-of-indian-firms-will-use-open-source-software-in-four-years-gartner/article5430473.ece", title: "90% of Indian firms will use Free and open source softwares by 2017"} GARTNER report,
              90% of Indian IT organizations will use Free and open source softwares for their main projects. There is already a growing trend in the industry to prefer equivalent free softwares than proprietary technologies. Hence learning free software technologies will definitely help students for their career in the software field.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %p.lead
              %a{"data-parent" => "#coursegroup", "data-toggle" => "collapse", href: "#courseThree"} 3. Will you share all softwares used during the camp so that I can use it after the camp?
        #courseThree.panel-collapse.collapse
          .panel-body
            %p.lead
              Workshop kit will contain a customized Ubuntu DVD which will have all the necessary softwares used during the camp. Since we use free softwares, the license of free softwares itself encourages users to share the softwares with others and spread the word. Infact, after the camp, we would encourage you to also go back to your college and share the softwares and course material with your friends.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %p.lead
              %a{"data-parent" => "#coursegroup", "data-toggle" => "collapse", href: "#courseFour"} 4. Can I look at the previous course material?
        #courseFour.panel-collapse.collapse
          .panel-body
            %p.lead
              The previous year's course material is shared at FSMK's github profile
              %a{href: "https://github.com/fsmk/summer-camp-13", title: "Summer Camp 2013 presentations"} here
              and
              %a{href: "https://github.com/fsmk/winter-camp-13", title: "Winter Camp 2013 presentations"} here.
              Unfortunately we didnt do a very good job at collecting the material from speakers last time and hence you may not get all the material. Based on the past experience, we have learnt a lot and will definitely do better this time in ensuring that all materials by resource persons are collected and distributed amongst students.
    %h3.green Regarding Registration
    #registrationgroup.panel-group
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %p.lead
              %a{"data-parent" => "#registrationgroup", "data-toggle" => "collapse", href: "#feeOne"} 1. I have registered, where should I pay the registration fees?
        #feeOne.panel-collapse.collapse
          .panel-body
            %p.lead
              After registration, you should have got an email to the registered email address regarding the payment of registration fees. Please follow the instruction as specified in it. However, in general, if you already have a FSMK GNU/Linux User's Group(GLUG) in your college, then do contact the core members of the GLUG for payment of registration fees. If not, please someone from FSMK will contact you regarding the registration fees. If you dont recieve the call with in 3 days of registering, please call, Vignesh @ (+91-9535321976) or Shijil @ (+91-8892324346)
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %p.lead
              %a{"data-parent" => "#registrationgroup", "data-toggle" => "collapse", href: "#feeTwo"} 2.  I have paid the registration fees, but for urgent issues I will not able to attend the camp. Can you refund the registration fees?
        #feeTwo.panel-collapse.collapse
          .panel-body
            %p.lead
              We follow a simple policy of fees once paid cannot be returned. Hence we do not return the registration fees as we make necessary arrangements for the camp based on the number of people who have registered. We are sorry to hear that you will not be able to attend the camp and we would encourage you to find someone who has not registered yet and who is interested to attend the camp in place of you.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %p.lead
              %a{"data-parent" => "#registrationgroup", "data-toggle" => "collapse", href: "#feeThree"} 3. If it is about Free Software, why are you charging money?
        #feeThree.panel-collapse.collapse
          .panel-body
            %p.lead
              Glad that you have this question. If you have already participated any events with FSMK, there is a good chance it was a free event. FSMK is a non-profit registered organization with everybody working for it as volunteers. Apart from raising funds through regular college activities or supporting other organizations to move to free software, such events are one of our main funding sources. Though most of the registration fees is spent for the organizing the camp, mainly in food cost and for workshop kit, we do plan to save some money taken from you as part of registration fees for future FSMK activities. However we do arrive at registration fees after getting inputs from students in various colleges, ensuring that the registration fees doesnt become the main reason for a student for not participating in the camp. For students coming from economic weaker sections or students from other marginal sections, we do plan to give scholarships. Please do go through
              %a{href: "/scholarship"} this link
              for more information on scholarships.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %p.lead
              %a{"data-parent" => "#registrationgroup", "data-toggle" => "collapse", href: "#feeFour"} 4.  I want to attend only few days of camp, Can I do that?
        #feeFour.panel-collapse.collapse
          .panel-body
            %p.lead
              Sorry, since we have limited number of seats for the camp, we would like to entertain participants only who can be available throughout the duration of the camp. This will ensure that the participants can make best use of the camp. Hence, if you are registering, please ensure that you are available for the full duration of the camp.
    %h3.green Regarding Venue
    #venuegroup.panel-group
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %p.lead
              %a{"data-parent" => "#venuegroup", "data-toggle" => "collapse", href: "#venueOne"} 1. What is the arrangement for safety of students?
        #venueOne.panel-collapse.collapse
          .panel-body
            %p.lead
              Senior volunteers from FSMK will be staying in hostels, both boys and girls throughout the camp to ensure that incase of emergency, we can take care of participants effectively. As the whole objecive of the camp to be residential is that the students can make maximum use of the labs and other available resources during the camp, we expect that students are responsible enough to ensure that they dont misuse the liberty given to them. All the necessary arrangement will be done to best of our ability to ensure that nothing untoward incident happen during the camp. Necessary first aid kits are kept. Also we request the hosting college to ensure that they have necessary transport facility in case of emergency.
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %p.lead
              %a{"data-parent" => "#venuegroup", "data-toggle" => "collapse", href: "#venueTwo"} 2. What are the items to be brought to the camp?
        #venueTwo.panel-collapse.collapse
          .panel-body
            %p.lead
              As part of venue-partner, colleges provide us with necessary bedding and buckets and mugs at the bathrooms. Other than this, we request students to bring all other necessary items.
              %ol
                %li.lead Bedsheet
                %li.lead Blankets
                %li.lead Lock and key
                %li.lead Medicines
                %li.lead Air Pillow
                %li.lead Laptops if you have
                %li.lead Wifi dongles if you have
                %li.lead Pen drives
                %li.lead Notebook and pen
                %li.lead Jerkin/Sweatshirt
                %li.lead Umbrella
                %li.lead Lock and key(preferably with 2 duplicate keys)
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %p.lead
              %a{"data-parent" => "#venuegroup", "data-toggle" => "collapse", href: "#venueThree"} 3. What is the arrangement for safety of belongings brought by participants?
        #venueThree.panel-collapse.collapse
          .panel-body
            %p.lead
              Students are expected to take care of their belongings. Hostel rooms with necessary lock and keys will be provided. (Students are still advised to bring a separate lock and key.) As food is included in registration fees, students are not advised to keep lost of cash with themselves.