.marketing
  .row
    .col-md-7
      %h2
        Venue Update:
        %span.text-muted Dayanand Sagar College of Engineering
      %p.lead 
        FSMK is glad to announce that Information Science Department of Dayanand Sagar College of Engineering has agreed to be the co-organizer and host the summer camp in their Kumaraswamy Layout Campus. Please check
        %a{:href => venue_path} the venue page
        for more information.
    .col-md-5
      = image_tag "college-logo.png", alt: "Dayanand Sagar College Of Engineering", :class => "featurette-image img-responsive"
  %hr.featurette-divider

  / Three columns of text below the carousel
  .row
    .col-sm-4
      =image_tag "speakers.png", alt: "Speakers", :class => "img-circle"
      %h2.green Speakers
      %p.lead Free Software developers, Industry professionals, Academic experts and many more. We get our resource persons from various companies like <b>Cisco, Intel, MindTree, Intuit, Arista Networks, Sourcebits, SAP Labs, Deeproot Linux, Mobisir</b>. Also Free Software developers from communities like <b>KDE, Firefox, Debian</b> also join us to share their experiences.
      %p
        %a.btn.btn-default{:href => speakers_path, :role => "button"} View details &raquo;
    .col-sm-4
      =image_tag "technologies.png", alt: "Technologies", :class => "img-circle"
      %h2.green Technologies
      %p.lead Get your hands dirty with <b>developing mobile app using Android App Programming, developing web portal using Drupal, developing Desktop GUI applications using Qt</b> and many more technologies. Apart from this, we also have brief talks on tools like <b>Blender, Wireshark, Tor,</b> and many more.
      %p
        %a.btn.btn-default{:href => technologies_path, :role => "button"} View details &raquo;
    .col-sm-4
      =image_tag "sponsorship.png", alt: "Sponsorship", :class => "img-circle"
      %h2.green Sponsors
      %p.lead Any individual, private or government institution interested in supporting FSMK in spreading Free software can help us by sponsoring the camp.
      %p
        %a.btn.btn-default{:href => sponsors_path, :role => "button"} View details &raquo;
  
    %hr.featurette-divider
      %footer
        %p.pull-right
          %a{:href => "/"} Back to top

    - content_for :javascript do
      = javascript_include_tag 'holder'
