.row
  .col-xs-12
    %h2.green Sponsors
    %br
    =link_to(image_tag("sponsor/sflclogo.jpg", alt: "sflc.in", :class => "img-responsive"), "http://www.sflc.in", target: "_blank")
    %br
.row
  .col-sm-10.col-sm-offset-1
    %p.lead
      SFLC.in will be our main sponsor for the Summer Camp-14. SFLC.in is an Indian unit of SFLC, a world wide organization led by Eben Moglen working with various clients helping them with Free Software licenses and providing legal support. SFLC.in is led by Mishi Choudary, its founding Director. In India, SFLC.in has been actively working towards Online Privacy, Internet Freedom and Software Patents. It led a very active online campaign against IT Rules 2011 which was also supported by FSMK. Over all, hopefully this will lead to many associations in future between
      =link_to("FSMK", "http://www.fsmk.org", target: "_blank")
      and
      =link_to("SFLC.in", "http://www.sflc.in", target: "_blank")
      \.