.row
  .col-sm-12
    %h3.green The criteria to accept sponsorship is as follows:
    %ol
      %li
        %p.lead Any educational institution, govt dept, public sector undertaking can be approached for sponsorship.
      %li
        %p.lead Any organisation, company, individual supporting/advocating the use-propagation of free software and its ideology.
      %li
        %p.lead Any IT company (free or proprietary) as long the product, service they are advertising with us is free software and does not violate the privacy of the service subscribers. Further, they may promote internships, job opportunities for the participating students.
      %li
        %p.lead Sponsors of services like media (radio, television, newspapers-magazines, internet), water, food, venue, accommodation.
      %li
        %p.lead Any well-wisher can contribute in terms of cash or kind.