.marketing
  .row
    .col-md-12
      %h2.green Technologies
      %p.lead Welcome participants!
      FSMK Camps are focussed on introducing students to various free software technologies and give them enough insight to get started with the technology whichever they are interested. The world is moving towards web, right from HTML5 apps to popular web applications. With the advent of javascript libraries like impress.js, even presentations are now being made using web technologies. Keeping this in mind, we have decided to keep the focus on latest Web related technologies. We have also learnt from previous experience that for effective learning, we should not switch between too many technologies. Based on this, we have decided to cover the following technologies.
      %br/
      Please note that impromptu sessions if requested by students during the camp will be arranged on technologies which we are not covering in the main agenda based on the availability of the speakers.
  %hr.featurette-divider

  / Three columns of text below the carousel
  #technologiesgroup.panel-group
    .row
      .col-sm-4
        %a{"data-parent" => "#technologiesgroup", "data-toggle" => "collapse", href: "#gnuLinuxEnvironment"}
          %h4.green GNU/Linux Environment
          %p
            =image_tag "technology/GNU_Linux_Environment.png", alt: "GNU_Linux_Environment", :class => "img-responsive"
      .col-sm-4
        %a{"data-parent" => "#technologiesgroup", "data-toggle" => "collapse", href: "#html"}
          %h4.green HTML
          %p
            =image_tag "technology/HTML.png", alt: "HTML", :class => "img-responsive"
      .col-sm-4
        %a{"data-parent" => "#technologiesgroup", "data-toggle" => "collapse", href: "#css"}
          %h4.green CSS
          %p
            =image_tag "technology/CSS.png", alt: "CSS", :class => "img-responsive"
    .col-sm-12
      #gnuLinuxEnvironment.panel-collapse.collapse
        .panel-body
          %h3.green GNU/Linux Environment
          %p.lead 
          As part of Free Software movement, the first step is always to get familiar and start using GNU/Linux based distributions for your day to day activity. Even the industry is actively adopting many popular GNU/Linux based distributions for their regular office purpose. We strongly recommend students to start using any GNU/Linux based distributions like Ubuntu, Fedora, Debian, etc. for all their computing purpose. Apart from regular applications, we will also cover basic commands in Bash, brief introduction to scripting and networking concepts in GNU/Linux environment.
    .col-sm-12
      #html.panel-collapse.collapse
        .panel-body
          %h3.green HTML
          %p.lead 
          HTML or Hyper Text Markup Language is the core of the internet and hence something which is absolutely compulsory for any programmers to have a good knowledge about. Apart from basic understanding of the syntax and tags, it is also important to understand how web pages are fetched, rendered and displayed in your browser. We will cover all these aspects so that students have a very good understanding of how the web works.
    .col-sm-12
      #css.panel-collapse.collapse
        .panel-body
          %h3.green CSS
          %p.lead 
          CSS or Cascading Style Sheets is also an important aspect in making the web what it is. Without CSS, out webpages would look very uninteresting filled with text. 
    .row
    %hr.featurette-divider
      .col-sm-4
        %a{"data-parent" => "#technologiesgroup", "data-toggle" => "collapse", href: "#javascript"}
          %h4.green Javascript
          %p
            =image_tag "technology/Javascript.png", alt: "Javascript", :class => "img-responsive"
      .col-sm-4
        %a{"data-parent" => "#technologiesgroup", "data-toggle" => "collapse", href: "#mongoDB"}
          %h4.green MongoDB
          %p
            =image_tag "technology/MongoDB.png", alt: "MongoDB", :class => "img-responsive"
      .col-sm-4
        %a{"data-parent" => "#technologiesgroup", "data-toggle" => "collapse", href: "#nodeJs"}
          %h4.green Node.js
          %p
            =image_tag "technology/Node_Js.png", alt: "Node_Js", :class => "img-responsive"
    .col-sm-12
      #javascript.panel-collapse.collapse
        .panel-body
          %h3.green Javascript
          %p.lead 
          Javascript is a dynamic programming language, mainly used as part of web browsers for client side scripting to interact with the user, control the browser and communicate asynchronously and alter the content displayed on the browser. It is now also used popularly for game development and mobile app development.
    .col-sm-12
      #mongoDB.panel-collapse.collapse
        .panel-body
          %h3.green MongoDB
          %p.lead 
          MongoDB, a very popular NoSQL database, uses JSON-like documents with dynamic schemas. It is becoming very popular in developing web applications as it makes it very easy to develop and deploy the application.
    .col-sm-12
      #nodeJs.panel-collapse.collapse
        .panel-body
          %h3.green Node.js
          %p.lead 
          Node.js is a software platform for scalable server-side and networking applications. Node.js applications are written in JavaScript, and can be run across multiple platforms with no changes using Node.js runtime. Node.js is commonly used for real time applications due to its asynchronous nature.
    .row
    %hr.featurette-divider
      .col-sm-4
        %a{"data-parent" => "#technologiesgroup", "data-toggle" => "collapse", href: "#massSurveillance"}
          %h4.green Mass Surveillance
          %p
            =image_tag "technology/Mass_Surveillance.png", alt: "Mass_Surveillance", :class => "img-responsive"
      .col-sm-4
        %a{"data-parent" => "#technologiesgroup", "data-toggle" => "collapse", href: "#onlinePrivacyTools"}
          %h4.green Online Privacy Tools
          %p
            =image_tag "technology/Online_Privacy_Tools.png", alt: "Online_Privacy_Tools", :class => "img-responsive"
      .col-sm-4
        %a{"data-parent" => "#technologiesgroup", "data-toggle" => "collapse", href: "#handsOnProject"}
          %h4.green Hands-on Project
          %p
            =image_tag "technology/Hands_On_Project.png", alt: "Hands_On_Project", :class => "img-responsive"
    .col-sm-12
      #massSurveillance.panel-collapse.collapse
        .panel-body
          %h3.green Mass Surveillance
          %p.lead 
          June 5th will mark the one year anniversary of the Snowden Leaks of NSA's mass surveillance. Since that day, we have seen many documents which have been released which shows us how vested interests have been using internet to curtail our freedom and intrude into our private lives. Hence it is very important to us as to how such mass surveillance effects us as individuals.
    .col-sm-12
      #onlinePrivacyTools.panel-collapse.collapse
        .panel-body
          %h3.green Online Privacy Tools
          %p.lead 
          Free Software has always respected user's privacy. However when it comes to internet, it is not just what runs on your system that is important but also how you exchange information with others over the net. It is also important to understand what data you put online and with whom you are going to share the same. Hence for all this, it becomes important to learn how to use these free software tools which help you protect your privacy. A good list of such tools are shared
          %a{href: "http://prismbreak.org/", alt: "Prism Break" }here.
          
    .col-sm-12
      #handsOnProject.panel-collapse.collapse
        .panel-body
          %h3.green Hands-on Project
          %p.lead 
          To keep it practical as much as possible will be our intention through out the camp. But even other wise, we want to allocate time specifically so that participants can work on some small projects in a group. We hope that this will give participants a good understanding of how different things fall together when developing a complete project. We also plan to recognize the group with best projects.

        