.row
  .col-md-7
    %h3.green Venue Information:
    %p.lead We are hosting the Summer Camp 14 in Dayanand Sagar College of Engineering at their Kumaraswamy Layout Campus. The Information Science Department of the college has accepted our proposal to coorganize the camp. Please note that even though the college is in heart of the city, we expect all participants to stay at hostels provided at the venue. This is important for us to start on-time daily and also so that we can utilize the time in the evening to do many activities. We hope to keep you completely busy through out the 9 days."
    %br

    %h3.green Address:
    %p.lead
      %address
        %strong Dayanand Sagar College of Engineering
        %br
        College Rd, Shavige Malleshwara Hills,
        %br
        San Francisco, CA 94107
        %br
        Kumaraswamy Layout, Bangalore, Karnataka - 560078

    %h3.green
      = "Get in touch"
    %p.lead
      Please do 
      %a{:href => contact_us_path} Contact Us
      in case you have any doubts regarding the venue. Also check the 
      %a{:href => faq_path} FAQs Page
      for frequently asked questions regarding the hostel facilities.
  .col-md-5
    #map
       