.row
  .col-md-7
    %h3.green Venue Information:
    %p.lead We are hosting the Summer Camp 14 in Dayananda Sagar College of Engineering at their Kumaraswamy Layout Campus. The Information Science Department of the college has accepted our proposal to coorganize the camp. Please note that even though the college is in heart of the city, we expect all participants to stay at hostels provided at the venue. This is important for us to start on-time daily and also so that we can utilize the time in the evening to do many activities. We hope to keep you completely busy through out the 9 days.
    %br

    .bs-callout.bs-callout-info
      %h4 Majestic to DSCE
      %p
        If you're coming to Dayananda Sagar College of Engineering (the venue of this year's Summer Camp) from Majestic (K.B.S), you can take the following buses:
        %b
          15E, 15G, 15C, 210AA, 210A, 210R, 210U, 210X
        %br
        %br
        The platform numbers are 8 and 13.
        %br
        %br
        It should take around 40-45 minutes in regular traffic and the bus fare is approximately ₹21.

    %h3.green Address:
    %p.lead
      %address
        %strong Dayananda Sagar College of Engineering
        %br
        College Rd, Shavige Malleshwara Hills,
        %br
        Kumaraswamy Layout, Bangalore, Karnataka - 560078

    %h3.green
      = "Get in touch"
    %p.lead
      Please do 
      %a{:href => contact_us_path} Contact Us
      in case you have any doubts regarding the venue. Also check the 
      %a{:href => faq_path} FAQs Page
      for frequently asked questions regarding the hostel facilities.
  .col-md-5
    #map
       
