!!!
%html
  %head
    =render :partial => 'v2015/layouts/layout_header'
  %body
    =render :partial => 'v2015/layouts/layout_nav_bar'
    = yield
    =render :partial => 'v2015/layouts/layout_footer'
