.marketing
  .row
    .col-md-7
      %h2
        Venue Update:
        %span.text-muted.orange REVA University
      %p.lead 
        FSMK is glad to announce that REVA University has agreed to be the co-organizer and host the summer camp in their campus. Please check
        %a{:href => v2015_venue_path} the venue page for more information.
    .col-md-5
      .bs-callout.bs-callout-info
        = image_tag "v2015/college-logo.png", alt: "REVA University", :class => "featurette-image img-responsive"
  %hr.featurette-divider
    %h4 Majestic to REVA University
    %p
      If you're coming to venue from Majestic (Kempegowda Bus Station), you can take the following buses:
      %br
      %b
        
        /TODO Add bus number
        %br
        The platform numbers are 
        /TODO Platform number are
        %br
      %br
      %br
      It should take around 90 minutes in regular traffic.
%hr.featurette-divider

  / Three columns of text below the carousel
  .row
    .col-sm-4
      %a.btn{:href => v2015_speakers_path, :role => "button"}
        %h2.orange Speakers
        =image_tag "speakers.png", alt: "Speakers", :class => "img-circle"  
    .col-sm-4
      %a.btn{:href => v2015_technologies_path, :role => "button"}
        %h2.orange Technologies
        =image_tag "technologies.png", alt: "Technologies", :class => "img-circle"
    .col-sm-4
      %a.btn{:href => v2015_sponsors_path, :role => "button"}
        %h2.orange Sponsors
        =image_tag "sponsorship.png", alt: "Sponsorship", :class => "img-circle"
        
