%h3.green Camp Schedule
We will be experimenting with multiple tracks this time. This is to ensure that students get to learn exactly what they are interested in and also to ensure we get the best subject matter experts. The three tracks for this camp is Mobile App Development, Network Administration and Open Hardware. Yes you read it right, we are having a separate track for Open Hardware this time. This has been a long standing demand from our students and we are excited to offer them the same.
Please go through the schedule below.
.row
  .col-sm-4
    %a.btn{:href => v2015_speakers_path, :role => "button"}
      %h2.green Speakers
      =image_tag "speakers.png", alt: "Speakers", :class => "img-circle"  
  .col-sm-4
    %a.btn{:href => v2015_technologies_path, :role => "button"}
      %h2.green Technologies
      =image_tag "technologies.png", alt: "Technologies", :class => "img-circle"
  .col-sm-4
    %a.btn{:href => v2015_sponsors_path, :role => "button"}
      %h2.green Sponsors
      =image_tag "sponsorship.png", alt: "Sponsorship", :class => "img-circle"