.row
  .col-xs-12
    %h2.orange Sponsors
  .sponsor
    .col-xs-12
      =link_to(image_tag("v2015/sponsor1.svg", :class => "logo"), "http://cis-india.org/", target: "_blank")
    .col-xs-12
      %p.lead
        %b The Centre for Internet and Society
        (CIS) is a Bangalore-based organization looking at multidisciplinary research and advocacy. CIS works on digital pluralism, public accountability and pedagogic practices, in the field of Internet and Society.
        %br
        %br
        %hr
  .col-xs-12
    .box-info.bg-warning.small
      %p
        More about our sponsorship policies, click
        =link_to "here", v2015_sponsor_policy_path
        \.