.row
  .col-xs-12
    %h2.orange Sponsors
  .sponsor
    .col-xs-12
      =link_to(image_tag("v2015/sponsor1.svg", :class => "logo"), "http://cis-india.org/", target: "_blank")
    .col-xs-12
      %p.lead
        %b The Centre for Internet and Society
        (CIS) is a Bangalore-based organization looking at multidisciplinary research and advocacy. CIS works on digital pluralism, public accountability and pedagogic practices, in the field of Internet and Society.
        %br
        %br
        %hr
  .col-xs-12
    .box-info.bg-warning
      %p
        We are looking for sponsors and if you know someone who had be interested to be part of the camp and want to sponsor it, please do let us know and we will reach out to them. We are looking for sponsorships from following sections of society. 
        .sponsor
          %ul.list-group
            %li.list
              Any educational institute, government department, public sector undertaking who want to support the concept of free software free society.
            %li.list 
              Any organization, company, individual supporting/advocating the use/propogation of free software and its ideology.
            %li.list
              Any IT company (free or proprietary) as long as the product/service they are advertising with us is free software and does not violate the privacy of the service subscribers. Further, they may promote internships, job opportunities for the participating students.
            %li.list 
              Sponsors of services like media (radio, television, newspapers-magazines, internet), water, food, venue, accomodation.
            %li.list 
              Any well-wisher can contribute in terms of cash or kind.
      %p
        Following is the sponsorship policy that we follow:
        .sponsor
          %ul.list-group
            %li.list
              Promotion should be related to FOSS technologies.
            %li.list 
              Sponsor representatives are expected to present/demonstrate/operate using free* technologies.
            %li.list
              Proprietary products/tools cannot be promoted/demonstrated.
            %li.list 
              We expect an open discussion on the FOSS-centric  business models adopted;it successes and challenges.
            %li.list 
              Private data of participants can be provided only with explicit consent of the participant. 
            %li.list
              Distribution of forms to collect information will be allowed after discussing the privacy policy of the sponsor.
                
        You can get complete information about the sponsorship packages from the sponsorship deck 
        %a{href: "FSMKCampSponsorshipDeck.pdf", title: "here"} here. 
            
