.row
  .col-xs-12
    %h2.orange Sponsors
    %p.lead
      We are looking for sponsors and if you know someone who had be interested to be part of the camp and want to sponsor it, please do let us know and we will reach out to them. 
/
  .row
    .col-xs-12
      %h2.orange Sponsors
      %br
      =link_to(image_tag("sponsor/sflclogo.jpg", alt: "sflc.in", :class => "img-responsive"), "http://www.sflc.in", target: "_blank")
      %br
  .row
    .col-sm-10.col-sm-offset-1
      %p.lead
        Our main sponsor for Summer Camp '14 will be SFLC.in - a Delhi based non-profit organization that promotes innovation and open access to knowledge by providing pro bono legal advice to developers of Free and Open Source Software (FOSS). In addition, the organization works extensively on emerging issues of import in the digital world, including privacy & surveillance, freedom of speech and expression, Internet governance and so on.
      %p.lead
        Led by Mishi Choudhary (founding Director), SFLC.in had organized a very active on-line campaign in 2011 against the Information Technology (Intermediaries Guidelines) Rules, which were accused of facilitating censorship and imposing unfair burdens on on-line intermediaries. This campaign was also supported by FSMK.
      %p.lead
        We hope Summer Camp '14 spurs enduring collaborations between
        =link_to("FSMK", "http://www.fsmk.org", target: "_blank")
        and
        =link_to("SFLC.in", "http://www.sflc.in", target: "_blank")
        in the future.