.marketing
  .row
    .col-md-12
      %h2.orange Technologies
      %p.lead Welcome participants!
      FSMK Camps are focussed on introducing students to various free software technologies and give them enough insight to get started with the technology whichever they are interested. Breaking from single track concept where all students had to just follow the same track, we have now decided to burden the student to give more thought on what they are interested in and choose one amongst the multiple tracks. We assure all tracks will be equally good and will be delivered by best of the speakers. We are also for the first time experimenting with a separate Freedom Hardware track which has been a long standing demand from the students. Apart from the main tracks, we will have one hour talks on various technologies and ideas related to Free Software, Free Hardware, Free Spectrum and Free Society.
      %br/
      Please note that impromptu sessions if requested by students during the camp will be arranged on technologies which we are not covering in the main agenda based on the availability of the speakers.
  .row
    .col-md-12
      %hr.featurette-divider
      %h3.orange Tracks for the camp
      .row
        .col-md-4
          .thumbnail
            =image_tag "v2015/Android.png", alt: "Android", :class => "fixed"
            .caption
              %h3.orange Mobile App Development for Android Platform
              %p
                Mobile is the way through which millions of new users are going to use digital technology. Industry is looking for good mobile app developers and hence it is one of the important areas where student should gain expertise on. Android being open-source and one of the most popular mobile platform is ideal platform to learn mobile app development. Hence, we have decided to focus on App development on Android Platform. Following is the syllabus that we plan to cover in this track.
                %ul
                  %li
                    Introduction to Android
                  %li
                    Creating first app
                  %li
                    Introduce folder structure
                  %li
                    Drag and drop layout design
                  %li
                    Introduce XML
                  %li
                    Designing Layout using XML
                  %li
                    Continuation of designing layout using XML
                  %li
                    Java Programming
                  %li
                    Introduction to Android & Java
                  %li
                    Multiple activities
                  %li
                    WebView
                  %li
                    ListView
                  %li
                    Build Calculator
                  %li
                    Building APK
        .col-md-4
          .thumbnail
            =image_tag "v2015/SysAdmin.png", alt: "System Administration", :class => "fixed"
            .caption
              %h3.orange System Administration and Networking
              %p
                Have you wondered what happens behind the scenes when you press enter after selecting the website name in your browser? How is the Googles/Facebooks/Twitters catering to millions of users simultaneously? How is the data stored in a remote server in some country thousands of kilometers far getting served to you on your browser? If these questions are intriguing to you, System Administration and Networking track is designed to answer all these questions and also help you setup your own laptop/desktop to work as a server and you its system administrator. BTW, did you know that experts suggest that for every 6 smartphone bought, there is one server that has to be run to cater to their needs. So again industry is in needs of good system administrator who know their system in and out and tweak to perform to the maximum. Following is the syllabus that we plan to cover in this track.
                %ul
                  %li
                    GNU/Linux installation
                  %li
                    Bash
                  %li
                    Shell Scripting
                  %li
                    Data-center(One hour talk)
                  %li
                    Network Configuration
                  %li
                    BigData(One hour talk)
                  %li
                    Virtualization
                  %li
                    Containers
                  %li
                    Configuration Management
                  %li
                    Monitoring
        .col-md-4
          .thumbnail
            =image_tag "v2015/FreedomHardware.png", alt: "Freedom Hardware", :class => "fixed"
            .caption
              %h3.orange Freedom Hardware
              %p.lead
                If India was late by around half a century to have telephones and two decades in case of computers, in case of Internet of Things India is going hand in hand with what is happening around the world. Freedom Hardware plays a crucial role in this because now it makes the cheap and 'Do It Yourself' hardware accessible to everyone across the world through the internet. We are too very excited with the possibilities and hence are bringing together this track for our students to learn it and create communities around it.We plan to cover wonderful hands-on Do-It-Yourself projects which should get students started in the vast world of Freedom Hardware. Following is the syllabus that we plan to cover in this track.
                %ul
                  %li
                    Introduction to Open Hardware and the concept of Freedom Hardware
                  %li
                    Introduction to Basic terms with regards to Arduino
                  %li
                    Fritzing Introduction
                  %li
                    Fritzing continued
                  %li
                    Introduction to Arduino and Arduino programming
                  %li
                    Line Follower
                  %li
                    Object Detection and Competition for the participants
                  %li
                    Controlling motors and Different sensors with Arduino
                  %li
                    OpenCV