.row
  .col-md-7
    %h2.green
      Venue Update:
      %span.text-muted Reva University
    %p.lead 
      FSMK is glad to announce that Reva University has agreed to be the co-organizer and host the summer camp in their campus. Please check
      %a{:href => v2015_venue_path} the venue page for more information.
  .col-md-5
    .bs-callout.bs-callout-info
      = image_tag "v2015/college-logo.png", alt: "Reva University", :class => "featurette-image img-responsive"
%hr.featurette-divider
  %h4.green Majestic to Reva University
  %p
    If you're coming to venue from Majestic (Kempegowda Bus Station), you can take the following buses:
    %br
    %b
      
      /TODO Add bus number
      %br
      The platform numbers are 
      /TODO Platform number are
      %br
    %br
    %br
    It should take around 90 minutes in regular traffic.     
    %h3.green Address:
    %p.lead
      %address
        %strong REVA University
        %br
        Rukmini Knowledge Park,
        %br
        Kattigenahalli,Yelahanka, Bangalore - 560064      
    %h3.green
      = "Get in touch"
    %p.lead
      Please do 
      %a{:href => v2015_contact_us_path} Contact Us
      in case you have any doubts regarding the venue. Also check the 
      %a{:href => v2015_faq_path} FAQs Page
      for frequently asked questions regarding the hostel facilities.
  .col-md-5
    #map
       
