.row
  .col-md-7
    %h3.green Venue Information:
    %p.lead We are in touch with various colleges and we will update about the camp venue soon. It will be in one of the popular colleges in Bangalore.
    %br
    /
      .bs-callout.bs-callout-info
        %h4 Majestic to DSCE
        %p
          If you're coming to Dayananda Sagar College of Engineering (the venue of this year's Summer Camp) from Majestic (K.B.S), you can take the following buses:
          %b
            15E, 15G, 15C, 210AA, 210A, 210R, 210U, 210X
          %br
          %br
          The platform numbers are 8 and 13.
          %br
          %br
          It should take around 40-45 minutes in regular traffic and the bus fare is approximately ₹21.     
      %h3.green Address:
      %p.lead
        %address
          %strong Dayananda Sagar College of Engineering
          %br
          College Rd, Shavige Malleshwara Hills,
          %br
          Kumaraswamy Layout, Bangalore, Karnataka - 560078
      %h3.green
        = "Get in touch"
      %p.lead
        Please do 
        %a{:href => v2015_contact_us_path} Contact Us
        in case you have any doubts regarding the venue. Also check the 
        %a{:href => v2015_faq_path} FAQs Page
        for frequently asked questions regarding the hostel facilities.
    .col-md-5
      #map
       
