.ramining-days{
  .counter-container {
    background: white;
    border-radius: 5px;
    .count {
  font-size: 70px;
  display: inline-block;
  color: #46535e;
  font-weight: 500;
    }
    .message {
  font-size: 16px;
  width: 30%;
  color: #46535e;
  text-align: left;
  display: inline-block;
    }
  }
}