.marketing
  .row
    .col-md-12
      %h2.green Scholarship
      %p.lead
        We are in the process of finalizing the scholarship criteria. Meanwhile, do
        %a{href: "/contact/new", title: "Contact Us"} contact us
        in case you have any queries regarding the same. We will be glad to see what best we can do.