/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.autocomplete
 *= require jquery.ui.datepicker
 *= require_self
 *= require fullcalendar
 *= require_tree ./plugins
 *= require_tree ./application_css
 */

@import "bootstrap";

.pull-down{
  margin-top: 100px;
}

#error_explanation {
  color: red;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.ui-autocomplete { z-index:2147483647; }

input, textarea, select {
  border: 2px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.green, %label {
  color: green;
}
