// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#articles .calendar {
  border-collapse:collapse;
  width: 100%
}
td, th {
  font-family: "Lucia Grande", arial, helvetica, sans-serif;
  font-size: 10px;
  padding: 6px;
  border:1px solid #999;
}

th {
  background:#DDD;
  color:#666;
  text-align:center;
  width: 14.28%
}

td {
  background:#FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}
.notmonth {color: #CCC;}
.today {background-color: #D7F2FF;}

#articles #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  a{
    text-decoration: none;
    padding:0 10px;
    color:#999;
    font-size: 20px;
  }
}

#articles ul {
  font-size:11px;
  padding-left:20px;
}