!!!
%html
  %head
    =render :partial => 'layouts/layout_header'
  %body
    =render :partial => 'layouts/layout_nav_bar'
    .container.pull-down
      = yield
  %footer
    %hr
    %center
      %a{href: "http://creativecommons.org/licenses/by/3.0/deed.en_US", rel: "license"}
        %img{alt: "Creative Commons License", src: "http://i.creativecommons.org/l/by/3.0/88x31.png", style: "border-width:0;"}
      %br
      This work is licensed under a
      %a{href: "http://creativecommons.org/licenses/by/3.0/deed.en_US", rel: "license"} Creative Commons Attribution 3.0 Unported License
