!!!
%html
  %head
    =render :partial => 'layouts/layout_header'
  %body
    =render :partial => 'layouts/layout_google_analytics'
    =render :partial => 'layouts/layout_nav_bar'
    .container.pull-down.with-padding
      =render :partial => 'shared/flash_messages'
      = yield
    =render :partial => 'layouts/layout_footer'
